.recipe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media (min-width: 768px) {
  .recipe {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacing-6;
    grid-template-rows: 1fr auto;
  }
  .recipe__method {
    grid-column: span 2;
  }
}

.recipe__image {
  height: 512px;
}

.recipe__header-wrap {
  display: flex;
  align-items: baseline;
}

.recipe__details {
  display: flex;
}

.recipe__icon {
  margin-left: $spacing-3;
}

.recipe__icon--pencil {
  display: inline-block;
}

.recipe__spacer {
  margin-right: $spacing-2;
  margin-left: $spacing-2;
}
