.recipe {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 48px 0;
  &__image {
    margin-right: 24px;
    max-width: calc(50%);
    object-fit: cover;
    object-position: center;
  }
  &__content {
    flex-grow: 1;
  }
  &__header {
    margin-bottom: 32px;
  }
}
