<div class="recipe-edit">
  <%= photo_for(@recipe) %>
  <%= link_to "Delete Recipe", recipe_path(@recipe), class: "highlight highlight--danger", method: :delete, data: { confirm: "Are you sure?" } %>
  <h1>Edit <%= link_to @recipe.name, recipe_path(@recipe) %></h1>
  <%= render "form" %>
</div>
