<%= render partial: "recipe_image", locals: { recipe: @recipe} %>
<%= link_to "Delete Recipe", recipe_path(@recipe), class: "recipe-form__delete", method: :delete, data: { confirm: "Are you sure?" } %>
<h1>Edit <%= link_to @recipe.name, recipe_path(@recipe) %></h1>
<%= render "form" %>
