<div class="wrapper">
  <div class="container fifty-fifty">
    <div class="left">
      <%= image_tag 'ingredients.jpeg' %>
    </div>
    <div class="right">
      <h1>Add new recipe</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
