html,
body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  background-image: asset-url("bg_light_side.jpg");
  margin: 0 auto;
}

.content {
  @include wrapper();
  flex: 1 0 auto;
}
