:root {
  --black: hsl(116, 0%, 20%);
  --white: hsl(115, 100%, 100%);
  --prim-100: hsl(82, 100%, 97%);
  --prim-200: hsl(82, 89%, 71%);
  --prim-300: hsl(93, 60%, 63%);
  --prim-400: hsl(114, 31%, 50%);
  --prim-500: hsl(158, 99%, 22%);
  --sup-danger: hsl(17, 100%, 74%);
}
