:root {
  --primary-100: hsl(82, 100%, 97%);
  --primary-200: hsl(82, 89%, 71%);
  --primary-300: hsl(93, 60%, 63%);
  --primary-400: hsl(114, 31%, 50%);
  --primary-500: hsl(158, 99%, 22%);
  --black: hsl(116, 0%, 20%);
  --white: hsl(115, 100%, 100%);
}
