.container {
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
}

.container-form {
  max-width: 384px;
  margin: 0 auto;
}

.icon-delete {
  color: var(--sup-danger);
}

.spacer-xs {
  margin-bottom: 24px;
}

.spacer-sm {
  margin-bottom: 48px;
}

// .image-square {
//   height: 240px;
//   width: 240px;
//   object-fit: cover;
//   object-position: center;
// }

// .spacer-md {
//   margin-bottom: 96px;
// }

// .spacer-lg {
//   margin-bottom: 192px;
// }

// .spacer-xl {
//   margin-bottom: 256px;
// }
