:root {
  --text-color: var(--black);
}

body {
  color: var(--text-color);
  font-family: var(--font-prim);
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: var(--font-second);
  font-weight: 400;
}

a {
  color: var(--prim-400);
  text-decoration: none;
}
