<nav class="site-nav">
  <div class="site-nav__color-mode">
    <a href="#" id="js-color-mode" class="light" data-light="<%= image_path 'bg_light_side.jpg' %>" data-dark="<%= image_path 'bg_dark_side.jpg' %>"><%= image_tag "darth_vader.svg", class: "site-nav__darth-vader" %></a>
  </div>
</nav>

<style>
  .site-nav__darth-vader {
    width: 65px;
    height: 65px;
  }
</style>
