<nav class="site-nav">
  <a href="#" id="js-light-dark-mode" class="light-mode" data-light="<%= image_path 'bg_light_side.jpg' %>" data-dark="<%= image_path 'bg_dark_side.jpg' %>"><%= image_tag "darth_vader.svg", class: "darth-vader" %></a>
</nav>
