<%= form_with model: @ingredient, local: true, class: "form" do |f| %>
  <div class="form__field">
    <%= f.label :name, class: "form__label form__label--required" %>
    <%= f.text_field :name, required: true, class: "form__input" %>
  </div>
  <div class="form__actions">
    <%= f.submit "Add Ingredient", class: "button button--full-width" %>
  </div>
<% end %>
