form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  label {
    font-weight: 500;
    padding-left: 4px;
  }
  input, select {
    padding: 12px;
    border: 1px solid rgba(1, 1, 1, 0.1);
    font-size: 1rem;
  }
  textarea {
    min-height: 192px;
    padding: 12px;
    border: 1px solid rgba(1, 1, 1, 0.1);
    font-size: 1rem;
  }
}

form .actions input {
  color: var(--white);
  background-color: var(--black);
  padding: 12px;
  border: 1px solid var(--black);
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-appearance: none;
}

@media screen and (max-width: 480px) {
  form .actions input {
    width: 100%;
  }
}

// Select 2 Overrides
.select2-container--default .select2-selection--single {
  background-color: #fff !important;
  border: 1px solid rgba(1, 1, 1, 0.1) !important;
  border-radius: 0 !important;
}
