.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.form__label {
  font-weight: 500;
  padding-left: 4px;
}

.form__label--required:after {
  color: var(--sup-danger);
  content: "*"
}

.form__label--checkbox {
  padding-left: 0;
}

.form__input,
.form__select {
  padding: 12px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  font-size: 1rem;
}

.form__textarea {
  min-height: 192px;
  padding: 12px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  font-size: 1rem;
}

.form__links {
  margin-top: 12px;
}
