.button {
  color: var(--white);
  background-color: var(--black);
  padding: 12px;
  border: 1px solid var(--black);
  font-size: 1rem;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .button--form {
    width: 100%;
  }
}
