.button {
  color: var(--white);
  background-color: var(--black);
  padding: $spacing-3;
  border: 1px solid var(--black);
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-appearance: none;
}

@media screen and (max-width: 480px) {
  .button--full-width {
    width: 100%;
  }
}
