.recipe-card {
  display: flex;
  flex-direction: column;
  max-width: calc(33.33% - 18px);
  margin-bottom: 18px;
  &__image {
    height: 320px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// Media Queries
@media screen and (max-width: 768px ) {
  .recipe-card {
    max-width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .recipe-card {
    max-width: calc(50% - 8px);
  }
}
