.site-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include wrapper();
  padding-top: $spacing-6;
  padding-bottom: $spacing-6;
  margin-bottom: $spacing-6;
  border-bottom: 1px solid var(--prim-300);
  &__title {
    color: var(--prim-300);
    font-family: var(--font-mono);
    font-size: 1.5rem;
    font-weight: 500;
    flex-grow: 1;
    text-transform: uppercase;
  }
  &__forces {
    height: 32px;
    width: 32px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 768px) {
  .site-nav__title {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .site-nav__title {
    font-size: 1.25rem;
  }
}
