.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 24px;
  border-bottom: 1px solid var(--prim-300);
  &__logo {
    color: var(--prim-300);
    font-size: 1.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
