<h1>Edit ingredients</h1>
<%= render "shared/measures", measures: @recipe.measures %>
<%= render "form" %>
<br/>
<br/>
<br/>
<hr>
<p>Can't find the ingredient you're looking for? Add it here:</p>
<%= render "ingredients/form" %>
